/* ---------------------------------------- Reset ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#btn-mobile {
  display: none;
}

/* ---------------------------------------- Header ---------------------------------------- */
header {
  width: 100vw;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #012744;
}

.logo {
  cursor: pointer;
}

/* ---------------------------------------- Navigation ---------------------------------------- */
.navigation .menu {
  display: flex;
}

.navigation .menu a {
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.navigation .menu a:hover {
  color: #ff0000;
}

/* ---------------------------------------- Carousel item ---------------------------------------- */
.carousel-item {
  height: 80vh;
}

.carousel-item>img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* ---------------------------------------- Responsive Button---------------------------------------- */
@media (max-width: 600px) {
  #btn-mobile {
    padding: 0.5rem 1rem;
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  /* ---------------------------------------- Responsive carousel ---------------------------------------- */
  .carousel-item>img {
    height: 100%;
  }

  /* ---------------------------------------- Responsive menu ---------------------------------------- */
  .menu {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 0;
    right: 0;
    visibility: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #012744;
    transition: .6s;
  }

  .menuBurger {
    width: 20px;
    display: block;
    border-top: 2px solid;
  }

  .menuBurger::after,
  .menuBurger::before {
    position: relative;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    content: '';
    display: block;
    background: currentColor;
    transition: .3s;
  }

  /* ---------------------------------------- Responsive navigation ---------------------------------------- */
  .navigation.active .menuBurger {
    border-top-color: transparent;
  }

  .navigation.active .menuBurger::before {
    transform: rotate(135deg);
  }

  .navigation.active .menuBurger::after {
    top: -7px;
    transform: rotate(-135deg);
  }

  .navigation.active .menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
}